/* styles.css */
html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  h-screen {
    height: 100vh;
  }
  
  .w-3/15 {
    flex: 0.2;
  }
  
  .w-full {
    flex: 0.8;
  }
  